<?xml version="1.0" ?>
<robot name="pm" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- Create links -->
    <link name="world"/>
    <link name="base_link"/>

    <!-- Import Rviz colors -->
    <xacro:include filename="$(find tesseract_ros_examples)/urdf/iiwa7/materials.xacro" />
    <!--Import the lbr iiwa macro -->
    <!-- <xacro:include filename="$(find tesseract_ros_examples)/urdf/pm.xacro"/> -->
    <xacro:include filename="$(find pm_description)/urdf/m20ib25c_macro.xacro"/>
    <!-- Include robot -->
    <!-- <xacro:pm prefix="arm_"/> -->
    <xacro:fanuc_m20ib25c prefix="arm_"/>

    <!-- Include workcell (creates joint from world to workcell_base)-->
    <xacro:include filename="$(find tesseract_ros_examples)/urdf/environment.xacro"/>
    <xacro:workcell parent_link="world" >
        <origin xyz="0.0 0.0 0.77153" rpy="0 0 0"/>
    </xacro:workcell >

    <xacro:cabinet id="1" parent_link="workcell_base" >
        <origin rpy="0 0 0" xyz="-0.3048 1.016 0.771525"/>
    </xacro:cabinet >

    <!-- Create joints -->
    <joint name="workcell_base_to_base" type="fixed">
      <parent link="workcell_base"/>
      <child link="base_link"/>
      <origin xyz="0 -0.0381 0.00953" rpy="0 0 1.5708"/>
    </joint>

    <joint name="base_link_robot" type="fixed">
        <parent link="base_link"/>
        <child link="arm_base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </joint>

</robot>
